version: '3.8'

services:
  app:
    build: .
    container_name: airline-app
    depends_on:
      - db
      - redis
    environment:
      - DATABASE_URL=postgres://user:password@db:5432/airline_db?sslmode=disable
      - REDIS_ADDR=redis:6379
      - JWT_SECRET=your_super_secret_key_here
    ports:
      - "8080:8080"
    networks:
      - backend
    restart: always

  db:
    image: postgres:15
    container_name: airline-db
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: airline_db
    ports:
      - "5432:5432"
    networks:
      - backend
    volumes:
      - postgres_data:/var/lib/postgresql/data

  redis:
    image: redis:alpine
    container_name: airline-redis
    ports:
      - "6379:6379"
    networks:
      - backend

  pgadmin:
    image: dpage/pgadmin4
    container_name: pgadmin
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@admin.com
      PGADMIN_DEFAULT_PASSWORD: admin
    ports:
      - "5050:80"  # This maps the container's port 80 to your local machine's port 5050
    networks:
      - backend

networks:
  backend:

volumes:
  postgres_data:
